.home-container {
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f0f0f0;
}

.content-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    margin: 0;
}