body{
    margin: 0;
    background-color: rgba(48, 133, 167, 0.637);
}

h1 {
    font-weight: bold; /*Pone letras en negrita*/
    text-align: center;
    font-size: 3em; /* Cambiar el tamaño a 24 píxeles */
}

.boton {
    padding: 0.5rem;
    border: none;
    background-color: #053348;
    font-weight: 400;
    color: #fafafa;
    font-size: 1rem;
    border-radius: 0.1rem;
    cursor: pointer;
}