header {
    background-color: darkblue;
    padding: 0.1rem;
    width: 100%;
    color: white;
    z-index: 1000;
    margin: 0;
}

.Titulo{
    text-align: center;
}

.botonHeader {
    font-weight: 400;
    color: #fafafa;
    font-size: 1rem;
    border-radius: 0.1rem;
    cursor: pointer;
}
