div{
    padding: 10px;
}

.div-proyect {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(191, 244, 253);
    border-radius: 5px;

}

h2 {
    font-weight: bold; /*Pone letras en negrita*/
    text-align: center;
    font-size: 2em; /* Cambiar el tamaño a 24 píxeles */
}

.proyectos{
   
    margin-right: 5px;
    flex: 1;
    text-align: center;
}