.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fafafa; /* Fondo del formulario similar al del header */
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #465d68;
    background-color: #fafafa;
    color: #465d68; /* Texto similar al del header */
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 1rem;
    background-color: darkblue; /* Color de fondo del botón similar al del header */
    color: white; /* Texto del botón similar al del header */
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #074b6a; /* Color de fondo hover del botón similar al del header */
}
