.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambiado a min-height para asegurar que ocupe al menos toda la altura de la ventana */
    background-color: aquamarine; /* Color de fondo similar al del header */
}

.register-form {
    background-color: #fafafa; /* Fondo del formulario similar al del header */
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    margin-top: 5rem; /* Añade un margen superior para mover el formulario hacia abajo */
}

.register-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #465d68;
    background-color: #fafafa;
    color: #465d68; /* Texto similar al del header */
    font-size: 1rem;
}

.register-form button {
    width: 100%;
    padding: 1rem;
    background-color: #28a745; /* Color de fondo del botón similar al del header */
    color: white; /* Texto del botón similar al del header */
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #218838; /* Color de fondo hover del botón similar al del header */
}
